@use "../../styles/typography.scss" as *;
@use "../../styles/variables.scss" as *;
@use "../../styles/mixins.scss" as *;
@use "../../styles/global.scss" as *;

.btn {
  color: $button-text;
  background-color: $button;
  border-radius: 0.25rem;
  padding: 0.5rem;
  border-color: $button;
}
