@use "../../styles/typography.scss" as *;
@use "../../styles/variables.scss" as *;
@use "../../styles/mixins.scss" as *;
@use "../../styles/global.scss" as *;

.movie-content{
    padding: 2rem;
}
.poster{
    padding-top:2rem ;
    border-radius: 0.25rem;
    height: auto;
}

.movie-info{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    .movie__desc{
        margin-top: 5rem;
    }
    .desc{
        color: $headline;
        margin-top: 0.5rem;
    }
    
}
@keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
.button{
    width: 10rem;
    height: 2.5rem;
    background-color: $tertiary;
    align-self: flex-end;
    border-radius: 0.25rem;
    animation: pulse 2s infinite;
    padding: 0 0.5rem;
    cursor: pointer;
    &:hover{
        background-color: darken(#e53170, 10%);

    }
}
.button-delete{
  font-size: 0.6rem;
  width: 10rem;
  height: 2.5rem;
  background-color: $button;
  align-self: flex-end;
  border-radius: 0.25rem;
  animation: pulse 2s infinite;
  padding: 0 0.5rem;
  cursor: pointer;
  &:hover{
      background-color: darken(#e53170, 10%);

  }
}
