@use "../../styles/typography.scss" as *;
@use "../../styles/variables.scss" as *;
@use "../../styles/mixins.scss" as *;
@use "../../styles/global.scss" as *;


.search-bar{
    padding: 2rem;
    display: flex;
    flex-direction: row;
    gap: 3rem;

    .search-form{
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }

    .search{
        border: 3px solid $paragraph;
        border-radius: 0.25rem;
        height: 2.5rem;
        padding: 0 0.5rem;
    }
    .filter{
        border: 3px solid $paragraph;
        border-radius: 0.25rem;
        height: 2.5rem;
        padding: 0 0.5rem;

    }

}